@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --background: #111827;
  --foreground: #f3f4f6;
  --sidebar-width: 13%;
  --main-width: 87%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ensure all elements respect box-sizing */
/* html * {
  box-sizing: border-box;
} */

/* Sidebar styling */
aside {
  width: 13%;
  min-width: 200px;
  flex-shrink: 0;
}

/* Main content area */
/* main {
  width: 87%;
  background-color: #030405;
} */